{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Our Luxurious Rooms</h1>
    <p class="lead mb-4">Choose from our variety of rooms designed to meet your needs.</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for room in rooms %}
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/room1.jpg' %}" class="card-img-top" alt="Room Image">
                <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <p class="card-text">{{ room.description }}</p>
                    <p class="card-text">${{ room.price }} per night</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}